<script>
	import Header from './components/Header.svelte'
	import Todos from './components/Todos.svelte'
	import { loadAppTitle, loadTodos } from './data'

	let appTitle = '...loading'
	let todos = [{ title: '...loading todos'}]

	getTitle()
	getTodos()

	async function getTitle() {
		appTitle = await loadAppTitle()
	}

	async function getTodos() {
		todos = await loadTodos()
	}

</script>

<main>
	<Header>{appTitle}</Header>
	<main>
		<Todos todos={todos} />
	</main>
</main>

<style>

</style>