<style>
  header {
    background-color: #282c34;
    min-height: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    padding-bottom: 1rem;
  }
</style>

<header>
  <slot>App Title</slot>
</header>
