<script>
  export let todos = [];
</script>

<style>
  .list {
    display: grid;
    grid-gap: 1rem;
  }

  .list .item {
    padding: 0.5rem 1rem;
    background: #eee;
  }
</style>

<div class="list">
  {#each todos as todo}
    <div class="item">{todo.title}</div>
  {/each}
</div>
